@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #5e17eb;
    font-family: 'Poppins', sans-serif;

}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #5e17eb;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn-festa a{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FF66C4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-festa :hover{
    background-color: #fa4bb7;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FF66C4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #fa4bb7;
}

.titulo{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}

.titulo h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    padding-top: 50px;
}

.container{
    position: relative;
    min-height: 100vh;
    background: #5e17eb;
    column-count: 3;
}

.container .img-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .img-container .image{
    height: 250px;
    width: 350;
    border: 2px solid #fff;
    box-shadow: 0 5px 15px #000000(0,0,0,1);
    overflow: hidden;
    cursor: pointer;
}

.container .img-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .img-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed; 
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;    
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 2px solid #fff;
    width: 750px;
    object-fit: cover;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
    top: 10px;
    margin: 90px;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ffffff;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #FF66C4;
    border: 1px solid #FF66C4;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #FF66C4;
    background-color: #ffffff;
    border-color: #ffffff;
}

